*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.l-container {
  width: 375px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .l-container {
    width: 980px;
  }
}

html {
  font-size: 16px;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  overflow-y: scroll;
}
body a {
  color: #000;
}

.b-header {
  display: none;
  background: #ddd;
  padding: 2rem 1rem;
}
@media screen and (min-width: 1024px) {
  .b-header {
    display: block;
  }
}

.b-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.b-nav a:focus,
.b-nav button:focus {
  outline-offset: -2px;
  outline: 2px dashed #369;
}

.b-section {
  display: none;
  padding: 2rem 1rem;
  background: #bebebe;
  height: 48rem;
}
.b-section__table {
  font-size: 12px;
}
.b-section__table td {
  padding: 7px 20px 7px 0;
}
.b-section__table kbd {
  border: 1px outset #888;
  background-color: #fff;
  padding: 5px;
  cursor: default;
  color: #000;
  display: inline-block;
}
@media screen and (min-width: 1024px) {
  .b-section {
    display: block;
  }
}

.b-footer {
  display: none;
  background: #ddd;
  padding: 2rem 1rem;
}
@media screen and (min-width: 1024px) {
  .b-footer {
    display: block;
  }
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}

@media screen and (max-width: 1023px) {
  .b-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .b-nav > .b-nav__level {
    transition-property: left;
    transition-timing-function: ease-in-out;
  }
  .b-nav .b-nav__level {
    position: relative;
    left: 0;
    width: 100%;
  }
  .b-nav .b-nav__level li.b-nav__item {
    border-top: 1px solid #bebebe;
  }
  .b-nav .b-nav__level li.b-nav__item:first-child {
    border-top: 0;
  }
  .b-nav .b-nav__level li .b-nav__level {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
  }
  .b-nav .b-nav__level li.active-xs > .b-nav__level {
    display: block;
  }
  .b-nav .b-nav__level li .b-nav__item-button--has-child.inactive-xs {
    display: none;
  }
  .b-nav .b-nav__level li.inactive-xs a,
  .b-nav .b-nav__level li.inactive-xs .b-nav__level {
    display: none;
  }
  .b-nav .b-nav__level li .b-nav__item-button {
    border: 0;
    display: block;
    padding: 1rem;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .b-nav .b-nav__level li .b-nav__item-button * {
    pointer-events: none;
  }
  .b-nav .b-nav__level li .b-nav__item-button-info {
    padding-left: 0.5rem;
    color: #333;
  }
  .b-nav .b-nav__level li .b-nav__item-button--has-child {
    position: relative;
    padding-right: calc(1.2rem + 2rem);
  }
  .b-nav .b-nav__level li .b-nav__item-button--has-child::after {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -0.6rem;
    background: transparent url("data:image/svg+xml;charset%3Dutf8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 width%3D%2232%22 height%3D%2232%22%3E%3Cpath fill%3D%22%23369%22 d%3D%22M8.269 3.342a.998.998 0 00.088 1.445l12.99 11.145L8.351 27.215a.998.998 0 00-.078 1.444c.392.42 1.063.454 1.499.075l13.877-12.05a1 1 0 00.351-.763 1.007 1.007 0 00-.355-.76L9.768 3.256a1.09 1.09 0 00-1.499.086z%22/%3E%3C/svg%3E%0A") no-repeat 50% 50%;
    background-size: 100%;
  }
  .b-nav .b-nav__level li .b-nav__item-button-back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border: 0;
    background: 0 0;
    width: calc(1.2rem + 2rem);
  }
  .b-nav .b-nav__level li .b-nav__item-button-back::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    left: 1rem;
    top: 50%;
    margin-top: -0.6rem;
    background: transparent url("data:image/svg+xml;charset%3Dutf8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 width%3D%2232%22 height%3D%2232%22%3E%3Cpath fill%3D%22%23369%22 d%3D%22M23.731 28.657a.998.998 0 00-.088-1.445l-12.99-11.144L23.649 4.784c.435-.379.47-1.026.078-1.445s-1.063-.454-1.499-.075L8.351 15.314a1 1 0 00.003 1.523l.001.001 13.877 11.904a1.09 1.09 0 001.499-.085z%22/%3E%3C/svg%3E%0A") no-repeat 50% 50%;
    background-size: 100%;
  }
  .b-nav .b-nav__level .b-nav__level-header h2 {
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem;
    margin: 0;
    background: #fff;
    position: relative;
  }
  .b-nav .b-nav__level .b-nav__level-header--fixed {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
  }
  .b-nav .b-nav__level-item li a {
    display: block;
    padding: 1rem;
    border-bottom: 1px solid #bebebe;
  }
}
@media screen and (min-width: 1024px) {
  .b-nav {
    background: #fff;
  }
  .b-nav__level-header {
    display: none;
  }
  .b-nav__in {
    height: auto !important;
  }
  .b-nav__level {
    left: 0 !important;
    display: flex;
    position: relative;
  }
  .b-nav__item .b-nav__item-button--has-child span {
    display: block;
    position: relative;
    padding-right: calc(0.75rem + 0.5rem);
  }
  .b-nav__item .b-nav__item-button--has-child span::after {
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.375rem;
    background: transparent url("data:image/svg+xml;charset%3Dutf8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 width%3D%2232%22 height%3D%2232%22%3E%3Cpath fill%3D%22%23369%22 d%3D%22M28.657 8.268a.998.998 0 00-1.445.088l-11.144 12.99L4.784 8.35a.998.998 0 00-1.445-.078 1.088 1.088 0 00-.075 1.499l12.05 13.877a1 1 0 001.524-.004L28.742 9.767a1.09 1.09 0 00-.085-1.499z%22/%3E%3C/svg%3E%0A") no-repeat 50% 50%;
    background-size: 100%;
  }
  .b-nav__item .b-nav__item-button {
    font-weight: 700;
    padding: 1rem;
    display: block;
    position: relative;
  }
  .b-nav__item .b-nav__item-button:hover {
    text-decoration: none;
  }
  .b-nav__item .b-nav__item-button * {
    pointer-events: none;
  }
  .b-nav__item .b-nav__level {
    display: none;
  }
  .b-nav__item.active .b-nav__level {
    position: absolute;
    left: 0;
    top: 100% !important;
    width: 100%;
    background: #ddd;
    padding: 1rem;
    display: flex;
  }
  .b-nav__item.active .b-nav__level .b-nav__level {
    display: block;
    position: relative;
    top: 0 !important;
    padding: 0;
  }
  .b-nav__item.active .b-nav__level .b-nav__item-button {
    background: 0 0;
    padding: 0;
    margin: 0 0 1rem;
  }
  .b-nav__item.active .b-nav__level .b-nav__item-button::after {
    display: none;
  }
  .b-nav__item.active .b-nav__level .b-nav__item-button:hover {
    text-decoration: underline;
  }
  .b-nav__item.active .b-nav__level .b-nav__item-button span {
    padding: 0;
  }
  .b-nav__item.active .b-nav__level .b-nav__item-button span::after {
    display: none;
  }
  .b-nav__item .b-nav__item {
    padding-left: 1rem;
  }
  .b-nav__item .b-nav__item:first-child {
    padding-left: 0;
  }
  .b-nav__item .b-nav__level-header + .b-nav__item {
    padding-left: 0;
  }
}

/*# sourceMappingURL=main.css.map */
