@use 'sass:math';

@include media(md-down) {
	body {
		overflow: hidden;
	}

	.b-nav {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		background: $white;
		height: 100%;
	}

	.b-nav__level {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.b-nav__level--1 {
		.b-nav__level--2,
		.b-nav__level--3 {
			display: none;
		}
	}

	.b-nav__item {
		border-top: 1px solid $black;
	}

	.b-nav__item-button,
	.b-nav__item-link {
		background: 0 0;
		border: 0;
		display: block;
		font-size: 1rem;
		padding: $spacer;
		text-align: left;
		width: 100%;
	}

	.b-nav__item-button {
		position: relative;
		padding-right: calc(#{$arrow-xs} + #{$spacer * 2});

		&::after {
			content: '';
			width: $arrow-xs;
			height: $arrow-xs;
			position: absolute;
			right: $spacer;
			top: 50%;
			margin-top: math.div($arrow-xs, -2);

			@include svg-mono($icon-arrow-right, $black);
		}
	}
}
