@use 'sass:math';

@include media(lg-up) {
	body {
		overflow-y: scroll;
	}

	.b-nav {
		background: $gray-200;
		position: relative;
	}

	.b-close {
		&__text {
			&--lg {
				display: block;
			}
		}
	}

	.b-nav__level {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.b-nav__item {
		&.m-active {
			background: $white;

			.b-nav__level--2 {
				background: $white;
				display: block;
				left: 0;
				padding: $spacer;
				position: absolute;
				top: 100%;
				width: 100%;
				z-index: 2;
			}
		}
	}

	.b-nav__item-button,
	.b-nav__item-link {
		font-family: 'Arial', sans-serif;
		background: 0 0;
		border: 0;
		cursor: pointer;
		display: inline-block;
		padding: $spacer;
		position: relative;
		vertical-align: top;

		&:hover {
			text-decoration: none;
		}

		&:focus-visible {
			outline-offset: -2px;
		}

		* {
			pointer-events: none;
		}
	}

	.b-nav__item-button span {
		display: block;
		position: relative;
		padding-right: calc(#{$arrow-lg} + #{$spacer * 0.5});

		&::after {
			content: '';
			width: $arrow-lg;
			height: $arrow-lg;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: math.div($arrow-lg, -2);

			@include svg-mono($icon-arrow-down, $black);
		}
	}

	.b-nav__level--1 {
		display: flex;
		position: relative;

		> .b-nav__item > .b-nav__item-button,
		> .b-nav__item > .b-nav__item-link {
			font-size: 1rem;
			font-weight: 700;
		}
	}

	.b-nav__level--2 {
		display: none;
		border: 2px solid black;
	}

	.b-nav__level--3 {
		border: 2px solid $gray-100;
		margin-left: $spacer;
		margin-right: $spacer;

		li {
			font-size: 0.85rem;
		}
	}
}
