@include media-breakpoint-down('md') {
    .ex-nav {
        $arrow: 1.2rem;
        width: 100%;
        position: relative;
        background: $white;
        overflow: hidden;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        overflow-y: scroll;

        > .nav-level {
            transition-property: left;
            transition-timing-function: ease-in-out;
        }
        .nav-level {
            position: relative;
            left: 0;
            width: 100%;

            li {
                &.nav-item {
                    border-top: 1px solid $gray-300;

                    &:first-child {
                        border-top: 0;
                    }
                }
                .nav-level {
                    position: absolute;
                    left: 100%;
                    top: 0;
                    display: none;
                }
                &.active-xs {
                    > .nav-level {
                        display: block;
                    }
                }
                .nav-item-button-has-child.inactive-xs {
                    display: none;
                }
                &.inactive-xs {
                    a,
                    .nav-level {
                        display: none;
                    }
                }
                .nav-item-button {
                    border: 0;
                    display: block;
                    padding: 1rem;
                    width: 100%;
                    background: 0 0;
                    text-align: left;
                    color: $black;

                    @include text-truncate;
                }
                .nav-item-button-info {
                    padding-left: 0.5rem;
                    color: #333;
                }
                .nav-item-button-has-child {
                    position: relative;
                    padding-right: calc(#{$arrow} + #{1rem * 2});

                    &::after {
                        content: '';
                        width: $arrow;
                        height: $arrow;
                        position: absolute;
                        right: 1rem;
                        top: 50%;
                        margin-top: -#{$arrow / 2};

                        @include svg-mono($icon-arrow-right, $blue);
                    }
                }
                .nav-level-header {
                    position: relative;
                    text-align: center;
                    font-weight: 700;
                    font-size: 1rem;
                    padding: 1rem;
                    margin: 0;
                    background: $gray-100;
                    position: relative;

                    &-fixed {
                        position: sticky;
                        left: 0;
                        top: 0;
                        width: 100%;
                    }
                }
                .nav-item-button-back {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    background: $white;
                    border: 0;
                    background: 0 0;
                    width: calc(#{$arrow} + #{$spacer * 2});

                    &::before {
                        content: '';
                        width: $arrow;
                        height: $arrow;
                        position: absolute;
                        left: 1rem;
                        top: 50%;
                        margin-top: -#{$arrow / 2};

                        @include svg-mono($icon-arrow-left, $blue);
                    }
                }
            }
        }
        .nav-level-in {
            padding: 1rem;
        }
        .nav-level-item {
            li a {
                display: block;
                padding: 1rem;
                border-bottom: 1px solid #ccc;
            }
        }
    }
}
