*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// Configuration
@import "./bootstrap/scss/functions";
@import "./bootstrap/scss/variables";
@import "./bootstrap/scss/mixins";
@import "./bootstrap/scss/utilities";

// Layout
@import "./bootstrap/scss/root";
@import "./bootstrap/scss/reboot";

.l-container {
    width: 375px;
    margin: 0 auto;

    @include media-breakpoint-up('lg') {
        width: 980px;
    }
}

$arrow-xs: 1.2rem;
$arrow-lg: 0.75rem;

html {
    font-size: 16px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    overflow-y: scroll;

    a {
        color: $black;

        @include hover {
            color: $black;
        }
    }
}
.b-header {
    display: none;
    background: $gray-400;
    padding: ($spacer * 2) $spacer;

    @include media-breakpoint-up('lg') {
        display: block;
    }
}
.b-nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a:focus,
    button:focus {
        outline-offset: -2px;
        outline: 2px dashed $blue;
    }
}
.b-section {
    display: none;
    padding: ($spacer * 2) $spacer;
    background: $gray-200;
    height: 48rem;

    &__table {
        font-size: 12px;

        td {
            padding: 7px 20px 7px 0;
        }
        kbd {
            border: 1px outset $gray-200;
            background-color: $white;
            padding: 5px;
            cursor: default;
            color: $black;
            display: inline-block;
        }
    }

    @include media-breakpoint-up('lg') {
        display: block;
    }
}
.b-footer {
    display: none;
    background: $gray-400;
    padding: ($spacer * 2) $spacer;

    @include media-breakpoint-up('lg') {
        display: block;
    }
}

@import 'svg';
@import 'b-nav';
@import 'b-nav-lg';
