*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// Configuration
@import "./bootstrap/scss/functions";
@import "./bootstrap/scss/variables";
@import "./bootstrap/scss/mixins";
@import "./bootstrap/scss/utilities";

// Layout & components
@import "./bootstrap/scss/root";
@import "./bootstrap/scss/reboot";
@import "./bootstrap/scss/grid";

html {
    font-size: 16px;
}
body {
    font-size: 1rem;
}
.ex-header {
    background: #ddd;
    height: 2rem;
}
.ex-nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a:focus,
    button:focus {
        outline-offset: -2px;
        outline: 2px dashed #369;
    }
}
.ex-section {
    background: #ffc;
    height: 20rem;
}
.ex-footer {
    background: #ddd;
    height: 2rem;
}

@import 'nav-control-xs';
@import 'nav-control-md';
