@import 'svg';
@import 'media';

*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.l-container {
	width: 375px;
	margin: 0 auto;

	@include media(lg-up) {
		width: 980px;
	}
}

$spacer: 1rem;
$arrow-xs: 1.2rem;
$arrow-lg: 0.75rem;

$black: #000;
$white: #fff;
$blue: #369;

$gray-100: #fff;
$gray-200: #888;
$gray-300: #bebebe;
$gray-400: #ddd;

html {
	font-size: 16px;
}

body {
	font-family: 'Arial', sans-serif;
	font-size: 1rem;
	overflow-y: scroll;

	a {
		color: $black;
	}
}

.b-header {
	display: none;
	background: $gray-400;
	padding: ($spacer * 2) $spacer;

	@include media(lg-up) {
		display: block;
	}
}

.b-nav {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a:focus,
	button:focus {
		outline-offset: -2px;
		outline: 2px dashed $blue;
	}
}

.b-section {
	display: none;
	padding: ($spacer * 2) $spacer;
	background: $gray-300;
	height: 48rem;

	&__table {
		font-size: 12px;

		td {
			padding: 7px 20px 7px 0;
		}

		kbd {
			border: 1px outset $gray-200;
			background-color: $white;
			padding: 5px;
			cursor: default;
			color: $black;
			display: inline-block;
		}
	}

	@include media(lg-up) {
		display: block;
	}
}

.b-footer {
	display: none;
	background: $gray-400;
	padding: ($spacer * 2) $spacer;

	@include media(lg-up) {
		display: block;
	}
}

.sr-only {
	clip: rect(0, 0, 0, 0);
	height: 0;
	overflow: hidden;
	position: absolute;
	width: 0;
}

@import 'b-nav';
@import 'b-nav-lg';
