*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.l-container {
  width: 375px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .l-container {
    width: 980px;
  }
}

html {
  font-size: 16px;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
}
body a {
  color: #000;
}

.b-header {
  display: none;
  background: #eee;
  padding: 2rem 1rem;
}
@media screen and (min-width: 1024px) {
  .b-header {
    display: block;
  }
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: 2px dashed #c33;
}

.b-skip {
  background: #fff;
  left: 0;
  opacity: 0;
  padding: 1rem;
  pointer-events: none;
  position: fixed;
  top: 0;
  z-index: 1;
  border: 3px solid #000;
}
.b-skip:focus-within {
  opacity: 1;
  pointer-events: auto;
}

.b-section {
  display: none;
  padding: 2rem 1rem;
  background: #eee;
  height: 48rem;
}
.b-section__table {
  font-size: 12px;
}
.b-section__table td {
  padding: 7px 20px 7px 0;
}
.b-section__table kbd {
  border: 1px outset #888;
  background-color: #fff;
  padding: 5px;
  cursor: default;
  color: #000;
  display: inline-block;
}
@media screen and (min-width: 1024px) {
  .b-section {
    display: block;
  }
}

.b-footer {
  display: none;
  background: #ccc;
  padding: 2rem 1rem;
}
@media screen and (min-width: 1024px) {
  .b-footer {
    display: block;
  }
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}

.b-close {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  position: relative;
  vertical-align: top;
}
.b-close__text {
  display: none;
  pointer-events: none;
}

@media screen and (max-width: 1023px) {
  *:focus-visible {
    outline-offset: -3px;
  }
  body {
    overflow: hidden;
  }
  .b-close {
    display: block;
    width: 100%;
  }
  .b-close__text--md {
    display: block;
  }
  .b-nav {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-transition: -webkit-transform var(--time, 0ms) ease-out;
    transition: -webkit-transform var(--time, 0ms) ease-out;
    transition: transform var(--time, 0ms) ease-out;
    transition: transform var(--time, 0ms) ease-out, -webkit-transform var(--time, 0ms) ease-out;
  }
  .b-nav.m-opened {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .b-nav > .b-nav__level {
    min-height: 100%;
    min-width: 100%;
    overflow-y: scroll;
  }
  .b-nav__level {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .b-nav__level--1 .b-nav__level--2,
  .b-nav__level--1 .b-nav__level--3 {
    display: none;
  }
  .b-nav__item-button,
  .b-nav__item-link {
    background: 0 0;
    border: 0;
    border-top: 1px solid #000;
    display: block;
    font-size: 1rem;
    padding: 1rem;
    text-align: left;
    width: 100%;
  }
  .b-nav__item-button span,
  .b-nav__item-link span {
    pointer-events: none;
  }
  .b-nav__item-button {
    position: relative;
    padding-right: calc(1.2rem + 2rem);
  }
  .b-nav__item-button::after {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -0.6rem;
    background: transparent url("data:image/svg+xml;charset%3Dutf8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 width%3D%2232%22 height%3D%2232%22%3E%3Cpath fill%3D%22%23000%22 d%3D%22M8.269 3.342a.998.998 0 00.088 1.445l12.99 11.145L8.351 27.215a.998.998 0 00-.078 1.444c.392.42 1.063.454 1.499.075l13.877-12.05a1 1 0 00.351-.763 1.007 1.007 0 00-.355-.76L9.768 3.256a1.09 1.09 0 00-1.499.086z%22/%3E%3C/svg%3E%0A") no-repeat 50% 50%;
    background-size: 100%;
  }
  .b-nav__level--3 {
    border: 2px solid #888;
    margin: 0 1rem 1rem;
  }
  .b-nav__level--3 li,
  .b-nav__level--3 .b-nav__item-link {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 1024px) {
  body {
    overflow-y: scroll;
  }
  .b-nav {
    background: #ccc;
    position: relative;
  }
  .b-close__text--lg {
    display: block;
  }
  .b-nav__level {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .b-nav__item.m-active {
    background: #fff;
  }
  .b-nav__item.m-active .b-nav__level--2 {
    background: #fff;
    display: block;
    left: 0;
    padding: 1rem;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2;
  }
  .b-nav__item-button,
  .b-nav__item-link {
    font-family: "Arial", sans-serif;
    background: 0 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 1rem;
    position: relative;
    vertical-align: top;
  }
  .b-nav__item-button:hover,
  .b-nav__item-link:hover {
    text-decoration: none;
  }
  .b-nav__item-button:focus-visible,
  .b-nav__item-link:focus-visible {
    outline-offset: -2px;
  }
  .b-nav__item-button *,
  .b-nav__item-link * {
    pointer-events: none;
  }
  .b-nav__item-button span {
    display: block;
    position: relative;
    padding-right: calc(0.75rem + 0.5rem);
  }
  .b-nav__item-button span::after {
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.375rem;
    background: transparent url("data:image/svg+xml;charset%3Dutf8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 width%3D%2232%22 height%3D%2232%22%3E%3Cpath fill%3D%22%23000%22 d%3D%22M28.657 8.268a.998.998 0 00-1.445.088l-11.144 12.99L4.784 8.35a.998.998 0 00-1.445-.078 1.088 1.088 0 00-.075 1.499l12.05 13.877a1 1 0 001.524-.004L28.742 9.767a1.09 1.09 0 00-.085-1.499z%22/%3E%3C/svg%3E%0A") no-repeat 50% 50%;
    background-size: 100%;
  }
  .b-nav__level--1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .b-nav__level--1 > .b-nav__item > .b-nav__item-button,
  .b-nav__level--1 > .b-nav__item > .b-nav__item-link {
    font-size: 1rem;
    font-weight: 700;
  }
  .b-nav__level--2 {
    display: none;
    border: 2px solid black;
  }
  .b-nav__level--3 {
    border: 2px solid #888;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .b-nav__level--3 li {
    font-size: 0.85rem;
  }
}
